@counter-style weekdays {
    system: fixed;
    symbols: Mo Di Mi Do Fr We;
    suffix: " ";
}
.main{
    position: relative;
    height: 90%;
}

.text p {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: right;
    text-justify: inter-word;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 10%;
    position: absolute;
    right: 0; 
}

.content{
    position: absolute;
    bottom: 0;
    width: 100%;  
}
.meeting-times{
    padding-bottom: 20%;
}
  
h1{
    text-decoration: overline 1px;
    font-size: 80px;
}

.time-list{
    list-style-type: weekdays;
    font-size: 20px;
}
li span{
    color: var(--primary-color);
    position: relative;
    left: 1.5em;
}

.content-members{
    width: auto;
}

@media only screen and (max-width: 400px) {
    .text p {
        font-size: 30px;
    }
}

